<body class="fondocurso cuerpo">

    <section class="servi">
     <h1 class="heading">
        <span>c</span>
        <span>e</span>
        <span>r</span>
        <span>t</span>
        <span>i</span>
        <span>f</span>
        <span>i</span>
        <span>c</span>
        <span>a</span>
        <span>d</span>
        <span>o</span>
        <span>s</span>
    </h1>

   <div class="row fila">
    <div class="col columna">
        <img id="carruImg02" class="imagen" src="/Img/certi01.jpeg" alt="photo 1" >
    </div>
    <div class="col columna">
        <img id="carruImg02" class="imagen" src="/Img/certi02.jpg" alt="photo 2">
    </div>
    <div class="col columna">
        <img id="carruImg02" class="imagen" src="/Img/certi03.jpeg" alt="photo 3">
    </div>
   </div>

    </section>
</body>