<body class="fondocurso">
  

<div class="container">
          <h1 class="heading">
            <span>c</span>
            <span>u</span>
            <span>r</span>
            <span>s</span>
            <span>o</span>
            <span>s</span> 
        </h1>  
</div>
<partial name="_CarruselCurso.cshtml"/>
</body>
 