@{
    ViewData["Title"] = "Home Page";
}


<body>

    <div class="row fondo" style="margin-top: -30px;">
        <div class="text-center">
            <br><br><br><br><br>
            <h1 style="color: white;">GOANNY HUCHIYAMA</h1>
            <H5 style="color: white;">PROGRAMADOR JUNIOR</H5>
        </div>

    </div>

    <div class="row  text-center contperfil" style="background-color: #e6e6e6;">
        <img src="~/Imagenes/eu.jpeg" class="rounded-circle align-self-center"
            id="foto"><!--creando una imagen circular-->
        <h1 id="textH">PERFIL PROFESIONAL</h1> 
        <div class="conte">
            <h5 id="texto">Soy bachiller de la carrera profesional de Ingeniería Informática y
                sistemas, con excelentes habilidades analíticas, capacidad de
                trabajar en equipo y que se motiva a sí mismo.
            </h5>
        </div>  
    </div>


   <div style="margin-top: -200px; "><!--para  subir el contenedor-->
<div class="row justify-content-md-center text-center"><!--para centrar toda la fila y los textos-->
    <div class="col col-3 bg-white elipunto fondooscuro" style="border-radius: 15px 0 0 15px; box-shadow:0 5px 5px 0 gray;"> <!--creando columna, stylo creando borde al cuadro arriba izquierda y abajo borde sombreado-->
        <i class="bi bi-hdd-fill"></i>
        <h3 style="color: white;">back end</h3>
        <p>Realize un modulo para el sistema web de la empresa redondo</p> 
    <p class=" cabecera" style="color: white;">Experiencia</p><!--dandole color al texto y dividiendo en dos con la clase cebecera--> 
    <ul>
        <li>C#</li> 
        <li>ASP.NET</li>
        <li>Entity Framework</li>
        <li>Javascript</li>
        <li>Razer</li> 
    </ul>
    </div>
 
    <div class="col col-3 bg-white elipunto fondooscuro" style="border-radius: 0 15px 15px 0; box-shadow:0 5px 5px 0 gray;"> <!--stylo creando borde al cuadro arriba derecho y abajo borde sombreado-->
       <i class="bi bi-code"></i>
        <h3 style="color: white;">front End</h3>
        <p> Puedo crear frond robustos para todo tipo de negocio que desea</p> 
         <p class="cabecera" style="color: white;"> Experiencia</p>
         <ul>
            <li>Bootstrap</li>
            <li>Css</li>
            <li>Html5 </li>
            <li>jQuery</li>
            <li>pruebas Automaticas</li> 
         </ul>
    </div>
</div>
</div>

 <section class="contacto" id="contacto">
        <div class="contenido-seccion">
            <h2 class="titulo-seccion">Contacto</h2>
            <h3>Ponte en contacto ahora mismo!</h3>

            <div class="fila">
                <div class="col">
                    <h2> 
                        <i class="fa-solid fa-phone"></i> Teléfono
                    </h2>
                    <span class="titulo-seccion">+51 96060-2544</span>
                </div>
                <div class="col">
                    <h2>
                       <i class="fa-solid fa-envelope"></i> Correo
                    </h2>
                    <span class="titulo-seccion">huchiyama800@gmail.com</span>
                </div>
                <div class="col">
                    <h2>
                        <i class="fa-solid fa-globe"></i> Página Web
                    </h2>
                    <span class="titulo-seccion">huchiyama.com</span>
                </div>
            </div>
        </div>
    </section>


</body>

