@model IEnumerable<Proyecto>

@{
    ViewData["Title"] = "Proyectos";
}

<body class="fondocurso">

<div class="container">
<h1 class="heading">
            <span>p</span>
            <span>r</span>
            <span>o</span>
            <span>y</span>
            <span>e</span>
            <span>c</span>
            <span>t</span>
            <span>o</span>  
            <span>s</span> 
        </h1> 
</div>
<partial name="_ListadoProyecto.cshtml" model="Model"/>

</body>